<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Nom">Nom</label>
    <div class="col-sm-8">
      <input readonly class="form-control" name="Nom" value="<%= model.Nom %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Type">Type</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Type" value="<%= model.Type %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Socket">Socket</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Socket" value="<%= model.Socket %>" />
    </div>
  </div>
  
   <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Chipset">Chipset</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Chipset" value="<%= model.Chipset %>" />
    </div>
  </div
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Chipset_graphique">Chipset_graphique</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Chipset_graphique" value="<%= model.Chipset_graphique %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Frequence">Frequence</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Frequence" value="<%= model.Frequence %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Frequence_boost">Frequence_boost</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Frequence_boost" value="<%= model.Frequence_boost %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Nb_coeur">Nb_coeur</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Nb_coeur" value="<%= model.Nb_coeur %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Cache">Cache</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Cache" value="<%= model.Cache %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Architecture">Architecture</label>
    <div class="col-sm-7">
      <input readonly class="form-control" name="Architecture" value="<%= model.Architecture %>" />
    </div>
  </div>
  
  <div class="form-group row">
      <label class="col-form-label col-sm-2" for="Overclocking">Overclocking</label>
      <div class="col-sm-7">
        <input readonly class="form-control" name="Overclocking" value="<%= model.Overclocking %>" />
      </div>
    </div> 
  </div>
