<%- include("_header") -%>

<h1>Liste de CPU (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const cpu of model) { %>
      <tr>
        <td><%= cpu.Nom %></td>
        <td><%= cpu.Type %></td>
        <td><%= cpu.Socket %></td>
        <td><%= cpu.Chipset %></td>
        <td><%= cpu.Nb_coeur %></td>
        <td><%= cpu.Frequence %></td>
        <td><%= cpu.Cache %></td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-warning" href="/edit/<%= cpu.CPU_ID %>"
            >Edit</a
          >
          <a class="btn btn-sm btn-danger" href="/delete/<%= cpu.CPU_ID %>"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>
